@import "../global/_variables";

.blog {
  padding-top: 50px;
  header {
    margin: 40px auto;
    text-align: center;
    h1{
      font-size: 40px;
      margin-bottom: 20px;
    }
    p {
      width: 97.5%;
      max-width: 500px;
      margin: 0 auto 30px;
    }
  }

  .articles {
    margin: 0 auto;
    width: 97.5%;

    ul {
      justify-content: space-between;

      li {
        width: 30%;
        flex-basis: 30%;
        box-shadow: 0 2px 18px 0 rgba(198, 198, 198, .3);
        transition: .2s ease;
        margin-bottom: 50px;

        &:hover {
          box-shadow: 0 2px 18px 0 rgba(150, 150, 150, .5);
        }

        a {
          color: $grey;

          h1 {
            margin-bottom: 5px;
          }

          .img {
            height: 200px;
          }

          .date {
            font-weight: bold;
            margin-bottom: 10px;
            display: block;
            color: $lightGrey;
          }

          .text {
            padding: 20px;
          }
        }
      }
    }
  }
}

.article {
  header {
    padding: 100px 0 30px;
    text-align: center;
    position: relative;

    .img {
      width: 40%;
      flex-basis: 40%;

      img {
        display: none;
      }
    }

    .heading {
      width: 60%;
      flex-basis: 60%;
      padding-bottom: 150px;
      position: relative;

      .bg {
        position: relative;
        padding: 120px 50px;

        &:before {
          content: "";
          position: absolute;
          left: 0;
          top: 0;
          height: 100%;
          width: calc((100vw - 100%) / 2 + 100%);
          background: $white;
          z-index: 1;
        }
      }

      h1 {
        font-size: 50px;
        font-weight: bold;
        text-align: left;
        position: relative;
        z-index: 2;
      }

      .date {
        text-align: left;
        display: block;
        position: relative;
        z-index: 2;
        font-weight: 600;
      }
    }

    .author {
      position: absolute;
      left: 50px;
      bottom: 20px;
      z-index: 20;
      margin-top: 40px;

      .thumbnail {
        border-radius: 50%;
        overflow: hidden;
        border: 1px solid $veryLightGrey;
        display: inline-block;
        width: 50px;
        height: 50px;

      }

      .name {
        line-height: 50px;
        margin-left: 10px;
        font-weight: 500;
      }
    }
  }

  .content {
    padding: 50px 0;
    margin: 0 auto;
    max-width: 650px;
    position: relative;

    h1 {
      margin-bottom: 10px;
      font-size: 28px;
      margin-top: 50px;
      font-weight: bold;
    }

    p {
      font-size: 17px;
      line-height: 1.8;
    }
  }

  .introduction {
    &:first-letter {
      color: $primary;
      font-size: 90px;
      line-height: 1;
      font-weight: bold;
      margin-right: 10px;
      float: left;
    }

    p {
      font-weight: 500;
    }
  }

  .menu {
    width: 200px;
    flex-basis: 200px;
    position: absolute;
    left: -20px;
    transform: translateX(-100%);
    top: 50px;

    h2 {
      font-weight: bold;
    }

    a {
      font-weight: 600;
    }
  }
}