@import "../global/_variables";

.contact {
  padding: 100px 0 50px;
  background: $white;
  h1{
    font-size: 40px;
  }
  .container{
    max-width: 600px;
  }
  .needs{
    .box{
      flex-basis: 50%;
    }
  }
  .input-box{
    &.input-field{
      label{
        margin-bottom: 5px;
        margin-top: 20px;
        display: inline-block;
      }
      input{
        padding: 14px;
      }
    }
    h2{
      font-size: 24px;
      margin-top: 36px;
      margin-bottom: 10px !important;
      display: block;
      font-weight: bold;
      color: $primary;
    }
  }
  .cta{
    display: inline-block;
    margin-top: 20px;
  }
  #message{
    height: 170px;
    margin-bottom: 10px;
  }
}

