@import "../global/_variables";

.home {
  background: $white;
  .introduction {
    background: $darkGrey;
    color: $white;
    padding: 220px 0 180px;

    .wrapper {
      max-width: 800px;
      margin: 0 auto;
      width: 95%;

      .top-text {
        position: relative;
        color: $grey;
        font-weight: 500;
      }

      h1 {
        margin-bottom: 20px;
        font-size: 52px;
        font-weight: normal;
        color: $white;

        strong {
          font-weight: 600;
          color: $primary;
        }
      }

      p {
        line-height: 1.8;
        font-size: 20px;
        color: darken($lightGrey, 30%);
        font-weight: 400;
      }
    }
  }

  .about {
    background: #f8f8f8;
    overflow: hidden;

    .side-text {
      padding: 100px 0;
      z-index: 2;
      position: relative;
      width: 40%;
      flex-basis: 40%;
      h1 {
        font-size: 40px;
        margin-bottom: 36px;
        position: relative;

        &:before {
          content: "";
          position: absolute;
          left: -30px;
          top: 20px;
          width: 20px;
          height: 3px;
          background: $primary;
        }
      }

      p {
        line-height: 2;
      }
    }

    .profile {
      position: relative;
      width: 60%;
      flex-basis: 60%;
      img {
        height: 100%;
        max-width: none;
        position: absolute;
        right: 0;
        bottom: 0;
        z-index: 1;
      }
    }

  }

  .services {
    background: $white;
    padding: 100px 0;
    p{
      max-width: 600px;
      margin: 0 auto;
    }
    header {
      margin: 0 auto 36px;
      text-align: center;

      h1 {
        font-size: 40px;
        position: relative;
        margin-bottom: 10px;
      }
    }

    .container {
      margin: 0 auto;
    }

    .img {
      svg {
        width: 60px;
        height: 60px;

        path {
          fill: $primary;
        }
      }
    }

    .list {
      justify-content: space-between;
    }

    .service {
      text-align: center;
      width: 30%;
      flex-basis: 30%;

      h2 {
        font-weight: bold;
      }

      p {
        max-width: 300px;
        line-height: 2;
        margin: 0 auto;
      }
    }
  }
  .work{
    padding: 30px 40px 50px;
    position: relative;
    margin-bottom: 100px;
    box-sizing: border-box;
    &:before{
      content: "";
      position: absolute;
      right: 0;
      top: 0;
      height: 100%;
      width: calc((100vw - 100%)/2 + 100%);
      background: #f8f8f8;
    }
    ul{
      justify-content: space-between;
      li{
        flex-basis: 31%;
      }
      a{
        position: relative;
        display: block;
        color: $white;
        &:hover{
          box-shadow: 3px 2px 16px 0 rgba(0,0,0,.4);
          img{
            transform: scale(1.01);
            z-index: 2;
          }
          .subtitle{
            background: $primary;
            transform: translateX(3px);
          }
        }
      }
      img{
        transition: .2s ease;
        transform: scale(1);
      }
      .subtitle{
        position: absolute;
        left: -10px;
        bottom: -20px;
        font-weight: bold;
        background: $darkGrey;
        padding: 10px 15px;
        box-sizing: border-box;
        z-index: 5;
        transition: .2s ease;
        .svg{
          svg{
            width: 10px;
            height: 10px;
            margin-left: 10px;
          }
          path{
            fill:$white;
          }
        }
      }
    }
    h1 {
      font-size: 40px;
      position: relative;
      margin-bottom: 40px;
    }
  }

  .contact {
    position: relative;
    padding: 100px 0;
    background: $darkGrey;
    background: radial-gradient(ellipse at center, #4c4c4c 0%,#1b1b1b 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#1b1b1b',GradientType=1 );
    &:after {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      background: url("/img/bg-contact.jpg") no-repeat;
      background-position-y: -200px;
      background-size: cover;
      opacity: .2;
      pointer-events: none;
      z-index: 1;
    }
    .content{
      position: relative;
      z-index: 2;
      text-align: center;
      max-width: 97.5%;
      p{
        max-width: 600px;
        margin: 0 auto;
      }
      .cta{
        display: inline-block;
        margin: 30px auto 0;
        text-align: center;
        font-weight: 500;
        position: relative;
        padding: 16px 25px;
        padding-right: 45px;
        &:before{
          content: "";
          width: 8px;
          height: 8px;
          background: url("/img/svg/arrow-white.svg");
          background-size: cover;
          position: absolute;
          right: 22px;
          top: 50%;
          transform: translateY(-50%);
        }
        &:after{
          content: "";
          width: 20px;
          height: 20px;
          border: 1px solid $white;
          border-radius: 50px;
          position: absolute;
          right: 15px;
          top: 50%;
          transform: translateY(-50%);
        }
      }
      h1 {
        font-size: 36px;
        color: $white;
        margin-bottom: 10px;
      }
      p{
        color: $white;
      }
    }
  }
}