@import "../global/_variables";

/* ///////////////////      ////////////////////// */
/* //////////////// Responsive /////////////////// */
/* ///////////////////      ////////////////////// */


@media screen and (max-width: 1350px) {

  .home .about {
    .container {
      justify-content: space-between;
    }

    .side-text {
      width: 50%;
      flex-basis: 50%;
    }

    .profile {
      width: 50%;
      flex-basis: 50%;

      img {
        right: -40%;
      }
    }
  }

}

@media screen and (max-width: 1000px) {

  .home .about {
    .container {
      display: block;
    }

    .side-text {
      flex-basis: 80%;
      padding-bottom: 20px;
      width: 80%;
      margin: 0 auto;
    }

    .profile {
      width: 100%;
      flex-basis: 100%;
      height: 500px;
      img {
        right: 50%;
        transform: translateX(50%);
      }
    }
  }

  .home .contact{
    &:after{
      background-position-y: 0;
    }
  }

  #footer{
    padding: 50px 0;
    .container{
      display: block;
      text-align: center;
      .logo{
        display: block;
        margin: 0 auto 20px;
      }
    }
    .infos{
      margin-top: 20px;
      .flex{
        display: block;
      }
      small{
        text-align: center;
      }
    }
  }

}

@media screen and (max-width: 800px) {

  .home .about {
    .side-text {
      width: 90%;
    }
  }

  .home .work {
    ul{
      display: block;
      li{
        width: 80%;
        flex-basis: 80%;
        text-align: center;
        margin: 0 auto 50px;
        img{
          width: 100%;
        }
      }
    }
  }

}
@media screen and (max-width: 600px) {
  .home .introduction{
    padding: 100px 0 50px;
    .wrapper{
      h1{
        font-size: 36px;
      }
    }
  }
  .home .services {
    padding: 50px 0;
    .service {
      width: 100%;
      flex-basis: 100%;
      margin-bottom: 50px;
    }
  }
  .home .work {
    padding: 50px 0;
    ul{
      li{
        width: 100%;
      }
    }
  }

}