@import "../global/_variables";

.work {
  padding-bottom: 20px;
  padding-top: 50px;
  header{
    margin: 40px auto;
    h1{
      font-size: 40px;
    }
    p{
      max-width: 600px;
      margin-top: 20px;
    }
  }
  .container{
    justify-content: space-between;
    max-width: 1400px;
  }
  .element{
    flex-basis: 50%;
    position: relative;
    overflow: hidden;
    a{
      display: block;
      position: relative;
      svg{
        position: relative;
        top:10px;
        width: 30px;
        height: 30px;
        margin-left: 10px;
        opacity: 0;
        transform: translateX(-30px);
        transition: .3s ease;
        path{
          fill: $white;
          box-shadow: 1px 1px 10px rgba($darkGrey,.5);
        }
      }
      &:hover{
        svg{
          opacity: 1;
          transform: translateX(0);
        }
      }
    }
    .label{
      position: absolute;
      left: 20px;
      bottom: 20px;
      color: $white;
      z-index: 4;
      text-shadow: 1px 1px 20px rgba($grey,1);
      font-weight: bold;

    }
    img{
      transform: scale(1);
      transition: 1.5s ease;
    }
    &:hover{
      img{
        transform: scale(1.2);
      }
    }
  }
}