@import "../global/_variables";

.cookie-bar {
  position: fixed;
  padding: 10px;
  width: 100%;
  bottom: 0;
  left: 0;
  text-align: center;
  line-height: 30px;
  background: $white;
  transition: .8s ease;
  z-index: 99999;
  .message {
    white-space: nowrap;
    @media (max-width: 767px){
      display: none;
    }
  }
  .mobile {
    display: none;
    @media (max-width: 767px){
      display: inline-block;
    }
  }
}
.close-cb {
  border: none;
  color: white;
  background: rgba(0,0,0,.2);
  position: absolute;
  display: inline-block;
  right: 10px;
  top: 50%;
  transform: translate(0,-50%);
  cursor: pointer;
  border-radius: 3px;
  line-height: 30px;
  height: 30px;
  width: 30px;
  font-size: 16px;
  font-weight: bold;
  &:hover {
    background: rgb(250,100,100);
  }
}
.checkbox-cb {
  display: none;
  &:checked + .cookie-bar {
    transform: translateY(50px);
  }
}