@import "../global/_variables";
#footer{
  padding: 100px 0;
  background:$darkGrey;
  color: $white;
  .logo{
    flex-basis: 20%;
    path{
      fill: $white;
    }
  }
  address{
    flex-basis: 30%;
    a{
      display: block;
      text-transform: none;
      font-weight: 600;
      font-style: normal;
      margin-bottom: 10px;
      color: $white;
      &.m{
        font-size: 18px;
      }
    }
  }
  .infos{
    flex-basis: 40%;
    .social{
      margin-bottom: 20px;
      a{
        color: $white;
        font-weight: 500;
        margin-right: 20px;
      }
    }
    small{
      display: block;
      text-align: left;
      color: $grey;
    }
  }
}