@import "../global/_variables";

#header{
  background: none;
  padding: 20px 0;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 100;

  &.light {
    a {
      color: $white !important;
    }

    #logo {
      svg path {
        fill: $white;
        transition: .2s ease;
      }
    }
  }
  .wrapper{
    width: 95%;
    margin: 0 auto;
  }
    #main-menu{
      li{
        margin-left: 15px;
        position: relative;
        &:after{
          content: "";
          position: absolute;
          left: 0;
          bottom: -5px;
          width: 100%;
          height: 2px;
          background: transparent;
        }
        &.active:after{background: $primary}
        a{
          color: $darkGrey;
          font-weight: 600;
          text-transform: capitalize;
        }
      }
    }
  #logo{
    svg path{fill: $darkGrey;}
    &:hover svg path{fill: $primary}
      h1{
        text-transform: none;
        opacity: 0;
        pointer-events: none;
        position: absolute;
      }
  }
}