// COLOR
$primary: #DC3C56;
$primaryHover: darken($primary,10%);

$secondary: #324aaa;
$secondaryHover: darken($secondary,10%);

$third: #192542;
$secondaryHover: darken($third,10%);

$white: #FFFFFF;
$black: #090909;
$lightblack: #666A83;
$red : #FF2F46;
$green : #6aff46;
$dark-blue: #1D2135;


$grey: rgb(75,75,75);
$darkGrey: #1b1b1b;
$lightGrey: #DFDEE2;
$veryLightGrey: #f3f3f5;
$orange: #FF8955;

$separation: #E7F4FB;
$facebook : #3b5998;

// FONTS
$mainFont:  'Montserrat Alternates', sans-serif;
$subFont: 'Quicksand', sans-serif;


// GRID
$gridSize: 1280px;
$gutterValue: 10;
$gutterUnit:px;
$gutter: $gutterValue+$gutterUnit;

$xs:320px;
$sm:540px;
$md:768px;
$lg:960px;
$xl:1200px;