@import "_variables";

body {
  max-width: 100vw;
  overflow-x: hidden;
  font: 14.5px/1.6 $mainFont;
  word-wrap: break-word;
  font-weight: 300;
  background: lighten(#F5F6FA, 1%);
}

::placeholder {
  opacity: .3;
  transition: .2s ease;
}

input { /* General CSS Interaction input */
  padding: 10px 18px;
  &:focus {
    border-bottom: 1px solid $primary;

    &::placeholder {
      opacity: .1;
      transition: .2s ease;
    }
  }
}

svg {
  width: 20px;
  height: 20px;

  path {
    fill: $grey;
  }
}

.disabled {
  pointer-events: none;
  opacity: .15;
}

a {
  color: $primary;
  position: relative;
  transition: .25s ease;

  &:hover {
    color: $secondary;
  }
}

.header-list {
  .top-header, .sub-header {
    background: none;
    border: 0;
    align-items: center;

    h1 {
      margin: 0;
      font-size: 40px;
      color: $dark-blue;
      opacity: .09;
    }
  }

  .sub-header-options {
    padding: 10px 30px;
    width: 100%;
    margin-top: 20px;

    .show-filter {
      background: $white;
      color: $dark-blue;
      padding: 10px 20px;
      margin-right: 20px;

      &:hover {
        background: $primary;
        color: $white;
        transition: .25s ease;
      }
    }

    .display {
      button {
        margin-right: 15px;

        svg {
          height: 18px;
          width: 18px;

          path, circle, rect {
            transition: .2s ease;
            fill: $black;
          }
        }

        &.active svg path,
        &.active svg circle,
        &.active svg rect {
          fill: $primary;

        }
      }

      button[data-display='table'] svg {
        height: 21px;
        width: 21px;
      }

      .select {
        margin-right: 10px;
        box-shadow: 0 1px 5px rgba(0, 0, 0, .02);
      }
    }
  }
}

.flex {
  display: flex;
  flex-wrap: wrap;

  .align-right {
    margin-left: auto;
  }
}

.inline-flex {
  display: inline-flex;
  flex-wrap: wrap;
}

#main-container {
  padding: 0 30px;
}

#properties-form {
  #main-container {
    margin-top: 20px;
  }
}

label {
  font-weight: bold;
  color: $grey;
  margin-bottom: 5px;
  font-family: $subFont;
}

input,
textarea {
  padding: 8px 10px;
  box-sizing: border-box;
  display: inline-block;
  resize: none;
  width: 100%;
  background: $veryLightGrey;

  &::placeholder {
    font-weight: 300;
    color: $lightblack;
  }
}

.input-master {
  color: $black;
}

textarea {
  min-height: 100px;
  font: 100%/1.6 $mainFont;
  background: $veryLightGrey;
  border: 0;
  border-bottom: 1px solid $lightGrey;
}


h1 {
  font: 150%/1.2 $subFont;
  font-weight: 600;
  color: $darkGrey;
}

h2 {
  font: 110%/1.6 $subFont;
  margin-bottom: .25rem;
  font-weight: 400;
  font-size: 1.4rem;
}

h3 {
  font: 110%/1.6 $subFont;
  line-height: 1.4;
  font-weight: 300;
}

p {
  font: 100%/1.6 $mainFont;
  word-wrap: break-word;
  margin-bottom: 16px;
  font-weight: 400;

  &.no-margin {
    margin-bottom: 0;
  }

  strong {
    font-family: $mainFont;
    font-weight: 600;
  }
}

.cta {
  color: $white;
  background: $primary;
  border-radius: 3px;
  padding: 12px 20px;
  text-align: center;
  transition: .25s ease;
  position: relative;
  line-height: 1.2;
  font-size: 100%;
  cursor: pointer;
  display: flex;

  svg {
    width: 16px;
    height: 20px;
    position: relative;
    top: -1px;
    margin-right: 10px;

    path, rect {
      fill: $white;
    }
  }

  &.loading {
    padding: 16px 20px;
    color: transparent;
    pointer-events: none;
    overflow: hidden;
    position: relative;

    &:before {
      content: "";
      border: 4px solid rgba(255, 255, 255, .3);
      border-top: 4px solid $white;
      background: none;
      border-radius: 50%;
      width: 20px;
      height: 20px;
      animation: spin 1.1s ease infinite;
      pointer-events: none;
      transition: .75s ease;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &::first-letter {
    text-transform: uppercase;
  }

  &.reversed {
    background: none;
    border: 1px solid $primary;
    box-sizing: border-box;
    color: $primary;

    &:hover {
      background: none;
      color: $primary;
    }
  }

  &:hover {
    background: $secondary;
    color: $white;
  }

  &.no-click {
    pointer-events: none;
    opacity: .5;
  }
}

.card {
  background: $white;
}


.clearfix:after {
  content: "";
  clear: both;
  display: table;
}

.hide {
  opacity: 0;
  pointer-events: none;
  position: fixed;
  display: none !important;

  &.not-visible {
    visibility: hidden !important;
    display: block !important;
  }

  &:before, &:after {
    opacity: 0;
    pointer-events: none;
  }
}

.show {
  opacity: 1;
  pointer-events: auto;
}


.loader {
  border: 4px solid $lightGrey;
  border-top: 4px solid $primary;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  animation: spin 1.2s ease infinite;
  pointer-events: none;
  transition: .75s ease;

  &.position-center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

.main-loader {
  width: 60px;
  height: 60px;
  border: 6px solid $lightGrey;
  border-top: 6px solid $primary;
  transition: .2s ease;
  transform: scale(1);

  &.fade {
    opacity: 0;
    transform: scale(0.6);
    pointer-events: none;
  }
}

@keyframes spin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}


.select {
  position: relative;
  display: inline-block;
  background: #fff;
  font-size: 100%;
  cursor: pointer;
  transition: .2s ease;
  height: 48px;
  border-radius: 3px;
  background: $veryLightGrey;

  &.text-right {
    text-align: right;

    .options {
      text-align: right;
    }
  }

  &.right {
    .options {
      left: auto;
      right: 0;
    }
  }

  ::first-letter {
    text-transform: uppercase;
  }

  &:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0;
    background: darken($lightGrey, 5%);
    transition: .2s ease;
  }

  &.active {
    border-radius: 3px 3px 0 0;
    border-bottom: 2px solid $primary;
    transition: .2s ease;
    background: $veryLightGrey;

    .selected {
      transition: .2s ease;
    }

    &:after {
      width: 100%;
      background: $lightGrey;
    }

    &:before {
      transform: rotate(-90deg);
      fill: $white;
    }

    .options {
      opacity: 1;
      pointer-events: auto;
      box-shadow: rgba(0, 0, 0, .15) 0 1px 2px 0;
    }
  }

  .selected {
    display: block;
    padding: 11px 30px 11px 10px;
    border-radius: 3px;
    white-space: nowrap;
    text-overflow: ellipsis;
    position: relative;
    font-weight: 400;
    color: $lightblack;
    transition: .2s ease;
    overflow: hidden;

    &:before {
      content: "";
      position: absolute;
      right: 10px;
      top: 50%;
      width: 10px;
      height: 10px;
      transform: translateY(-50%) rotate(90deg);
      background: url(/img/svg/arrow.svg);
      opacity: 0.4;
      background-size: 100% 100%;
      pointer-events: none;
      transition: .2s ease;
      z-index: 1;
    }
  }

  .options {
    background: $white;
    left: 0;
    opacity: 0;
    min-width: 100%;
    pointer-events: none;
    top: calc(100% + 1px);
    background: $white;
    position: absolute;
    border-radius: 0 0 3px 3px;
    max-height: 216px;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 99;

    &::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
      border-radius: 10px;
      background-color: $veryLightGrey;
    }

    &::-webkit-scrollbar {
      width: 9px;
      background-color: $veryLightGrey;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background-color: $lightGrey;
    }

    li {
      padding: 10px 30px 10px 15px;
      transition: .25s ease;
      white-space: nowrap;
      position: relative;

      &[data-selected='selected'] {
        background: rgba($primary, .1);
      }

      &:hover {
        background: lighten($lightGrey, 5%);
      }
    }
  }
}

.autocomplete {
  position: relative;

  .options {
    background: $white;
    left: 0;
    top: calc(100% + 1px);
    width: 100%;
    background: $white;
    cursor: pointer;
    position: absolute;
    box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;

    li {
      padding: 10px 30px 10px 15px;
      transition: .25s ease;
      overflow: hidden;

      &:hover {
        background: lighten($lightGrey, 5%);
      }
    }
  }
}

.modal-scroll-block {
  overflow: hidden;
  height: 100vh;
}

// REMOVE powered by google
.pac-container:after {
  background-image: none !important;
  height: 0;
}

div[placeholder]:empty:before {
  content: attr(placeholder);
  color: darken($lightGrey, 30%);
  font-weight: 400;
  pointer-events: none;
}

div[placeholder]:empty:focus:before {
  content: "";
}

.toggle-button {
  background: $red;
  width: 50px;
  height: 23px;
  display: block;
  position: relative;
  border-radius: 50px;
  cursor: pointer;
  transition: .2s ease;

  &:before {
    content: "";
    left: 0;
    top: -2px;
    height: 17px;
    width: 17px;
    position: absolute;
    background: $white;
    border-radius: 50px;
    transform: translateX(3px);
    transition: .2s ease;
    margin-top: 5px;
  }
}

input[type=checkbox]:checked + .toggle-button {
  background: $green;

  &:before {
    transform: translateX(30px);
    background: $white;

  }
}

hr {
  border: 0;
  clear: both;
  display: block;
  width: 100%;
  height: 1px;
  border-top: 1px dashed $grey;
}

.come-soon {
  text-align: center;
  display: block;
  font-size: 30px;
  color: $grey;
  margin: 200px auto 0;
}

.back {
  position: relative;
  display: inline-block;
  font-weight: 400;

  svg {
    height: 12px;
    width: 12px;
    transform: rotate(180deg) translateY(-2px);
    margin-right: 5px;
    margin-bottom: 1px;
  }
}

.navigation {
  position: fixed;
  min-height: 100vh;
  width: 80px;
  left: 0;
  top: 0;
  background: $white;
  z-index: 98;
  border-right: 1px solid #EDEDF2;
  transform: translateX(0);
  transition: .3s ease;

  &.hidden {
    transform: translateX(-100%);

    .burger-menu {
      right: -40px;
      top: 14px;

      path {
        fill: $grey;
      }
    }
  }

  header {
    box-sizing: border-box;
    height: 50px;
    text-align: center;
    position: relative;
    margin-bottom: 10px;

    .burger-menu {
      width: 20px;
      height: 20px;
      position: absolute;
      right: 15px;
      top: 15px;
      transition: .3s ease;

      svg path {
        transition: .3s ease;
      }
    }

    .axios {
      color: $primary;
      font-size: 13px;
      height: 50px;
      margin-top: 25px;
      font-weight: 800;
      letter-spacing: 3px;
      display: block;
      pointer-events: none;

      svg {
        max-width: 36px;
        height: 36px;
      }
    }

    .menu {
      position: absolute;
      right: 10px;
      top: 10px;
      width: 20px;
      height: 30px;
    }

    svg {
      max-width: 100%;
      height: 50px;

      path {
        fill: $white;
      }
    }
  }

  .main-nav {
    li {
      height: 60px;
    }

    button, a {
      padding: 15px 10px;
      width: 100%;
      display: inline-block;
      transition: .25s ease;
      position: relative;
      font-size: 14px;
      font-weight: 300;

      &:hover {
        span {
          opacity: 1;
          transform: translate(-20px, -50%);
        }
      }

      span {
        position: absolute;
        left: 100%;
        top: 50%;
        transform: translate(-10px, -50%);
        display: block;
        background: $white;
        color: $primary;
        box-shadow: 0 1px 5px rgba(0, 0, 0, .07);
        border-radius: 3px;
        padding: 5px 10px;
        white-space: nowrap;
        pointer-events: none;
        opacity: 0;
        transition: .2s ease;
      }

      svg {
        position: relative;
        height: 22px;
        width: 22px;
        display: block;
        margin: 0 auto;

        path, rect {
          transition: .3s ease;
          fill: $grey;
        }
      }

      &:hover {
        color: $primary;

        svg path, svg rect {
          fill: $primary;
          stroke: $primary;
        }
      }

      &.active {
        svg path, svg rect {
          fill: $primary;
          stroke: $primary;
        }

        &:before {
          content: "";
          position: absolute;
          right: 0;
          top: 0;
          height: 100%;
          width: 3px;
          background: $primary;
          border-radius: 5px 0 0 5px;
        }
      }
    }

    button {
      text-align: left;

      &:after {
        content: "";
        position: absolute;
        right: 10px;
        top: 20px;
        width: 10px;
        height: 10px;
        transform: rotate(90deg);
        background: url("/img/svg/arrow-white.svg");
        background-size: cover;
        transition: .2s ease;
      }
    }
  }

  footer {
    position: absolute;
    left: 0;
    width: 100%;
    bottom: 20px;

    .profile {
      position: relative;

      &.active {
        .dropdown {
          opacity: 1;
          pointer-events: auto;
        }
      }

      button {
        margin: 0 auto;
        width: 40px;
        height: 40px;
        border: 1px solid $lightGrey;
        display: block;
        border-radius: 50px;
      }

      .dropdown {
        position: absolute;
        left: 100%;
        bottom: 0;
        background: $white;
        border: 1px solid $lightGrey;
        pointer-events: none;
        opacity: 0;
        transition: .2s ease;

        li {
          a {
            display: inline-flex;
            padding: 10px;

            span {
              white-space: nowrap;
            }

            svg {
              width: 20px;
              height: 20px;
              margin-right: 10px;
            }
          }
        }
      }
    }

    svg {
      width: 22px;
      height: 22px;

      path {
        fill: $grey;
      }
    }
  }
}

.main-content {
  margin-left: 80px !important;
  width: calc(100% - 80px) !important;
  box-sizing: border-box;
  transition: .3s ease;
  z-index: 1;
  position: relative;

  &.fade {
    opacity: 0;
    pointer-events: none;
  }

  > header {
    width: 100%;
  }

  &.full-screen {
    width: 100%;
    margin-left: 0;
  }

  .main-action-bar {
    position: fixed;
    right: 0;
    bottom: 0;
    box-sizing: border-box;
    background: $white;
    padding: 10px;
    border-top: 1px solid $lightGrey;
    border-left: 1px solid $lightGrey;

    button {
      margin-left: 20px;
    }
  }

  h1 {
    font-size: 15px;
  }

  .input-editor {
    width: 100%;
  }

  .editor {
    background: $white;
    border: 1px solid $veryLightGrey;
    width: 100%;
    min-height: 200px;
    padding: 20px;
    box-sizing: border-box;
  }


  .image-editor {
    height: 200px;
    border: 1px solid $lightGrey;

    a {
      position: relative;
      display: block;
      height: 200px;

      &:hover {
        &:before, &:after {
          opacity: 1;
        }

        &:before {
          transform: translate(-50%, 0);
        }
      }

      &:after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(10, 10, 10, .9);
        opacity: 0;
        transition: .25s ease;
      }

      &:before {
        content: "Modifier";
        position: absolute;
        left: 50%;
        top: 80px;
        transform: translate(-50%, -10px);
        color: $white;
        opacity: 0;
        padding: 10px 20px;
        border: 2px solid $white;
        transition: .4s ease;
      }
    }

    svg {
      position: absolute;
      left: 50%;
      top: 50px;
      height: 80px;
      width: 50px;
      z-index: 2; // Important to be behind img
      transform: translateX(-50%);
    }

    .image {
      text-align: center;

      img {
        height: 200px;
        z-index: 3;
        position: relative;
        margin: 0 auto;
      }
    }
  }
}

.dashboard {
  width: 100%;

  .card {
    min-height: 200px;
    margin-bottom: 20px;
  }

  .big-figure {
    font-size: 100px;
    text-align: center;
    display: block;
  }
}

.cta {
  background: $primary;
  font-weight: 400;
  letter-spacing: .5px;
  color: $white;
  box-shadow: 0 1px 5px rgba(0, 0, 0, .07);

  &:hover {
    background: $primaryHover;
  }
}

.sub-menu-to-display {
  box-shadow: 1px 0 1px 0 rgba(10, 10, 10, .15);
  background: lighten($secondaryHover, 5%);

  h1 {
    font-size: 14px;
    height: 51px;
    line-height: 51px;
    padding-left: 20px;
    border-bottom: 1px solid $lightGrey;
  }

  li {
    height: auto !important;
  }

  a {
    text-align: left !important;
    font-size: 14px;
    line-height: 1;
    padding: 14px 15px 14px 18px !important;
    position: relative;
    color: $black;

    &:before {
      content: "";
      position: absolute;
      width: 100%;
      left: 0;
      top: 0;
      height: 45px;
      border: 0;
      background: none;
      transition: .2s ease;
      opacity: 0;
    }

    svg {
      margin-right: 8px;
      height: 14px !important;
      width: 14px !important;
      top: 2px !important;

      path {
        fill: $black !important;
      }
    }

    &:hover {
      color: $primary !important;

      &:before {
        background: rgba(30, 39, 46, .05);
        opacity: 1;
      }
    }

    &.active {
      &:before {
        background: rgba(30, 39, 46, .1);
        transform: translate(0);
        opacity: 1;
      }

      &:after {
        left: 0 !important;
        top: 0 !important;
        width: 4px !important;
        border-radius: 0 !important;
        height: 45px !important;
        z-index: 9 !important;
        transform: none !important;
      }

      &:hover {
        color: $black !important;

        svg {
          path {
            fill: $black !important;
          }
        }
      }
    }
  }
}

.overlay {
  width: 100vw;
  height: 100vh;
  background: rgba(10, 10, 30, .8);
  pointer-events: none;
  position: fixed;
  z-index: 99;
  opacity: 0;
  transition: .25s ease;

  &.active {
    opacity: 1;
    pointer-events: auto;
  }
}

.popup {
  position: fixed;
  z-index: 100;
  width: 100vw;
  left: 0;
  top: 0;
  height: 100vh;
  opacity: 0;
  pointer-events: none;
  transition: .3s ease;

  &.active {
    opacity: 1;
    pointer-events: auto;
  }

  .box {
    position: fixed;
    left: 50%;
    top: 0;
    min-height: 100px;
    background: $white;
    border-radius: 3px;
    transform: translateX(-50%);
    transition: .5s ease;
    padding: 20px;
    box-sizing: border-box;
    background: $white;

    &.full-page {
      width: 100%;
      height: 100%;
    }

    header {
      border-bottom: 1px solid $veryLightGrey;
      padding-bottom: 10px;

      .menu {
        display: flex;

        li {
          align-self: flex-end;
          position: relative;
          padding-bottom: 10px;
          margin-right: 10px;

          &:after {
            content: "";
            position: absolute;
            left: 0;
            bottom: -12px;
            width: 100%;
            height: 3px;
            background: none;
          }

          button {
            text-transform: uppercase;
            font-weight: bold;
            text-align: center;
          }

          &.active:after {
            background: $primary;
          }
        }
      }
    }

    .exit-popup {
      position: absolute;
      top: 7px;
      right: 8px;
      width: 11px;
      height: 11px;

      svg {
        width: 11px;
        height: 11px;
      }
    }
  }

  .client-create-new, .users-create-new {
    width: initial;
    padding: 30px;
    min-width: 350px;
    height: auto;
    margin-top: 12%;

    header {
      margin-bottom: 10px;
      text-align: center;
      display: block;
      border-bottom: 0;
    }

    .select, .autocomplete, .input-box {
      width: 100% !important;
      box-shadow: 0 0 30px rgba(0, 0, 0, .06);
      border: 1px solid rgba(23, 33, 53, .07);
      margin: 10px 0;
      border-radius: 5px;
    }

    .cta {
      width: 100%;
      justify-content: center;
      margin-top: 30px;
    }
  }
}

.box-container {
  padding: 30px;
  background: $white;
  margin-bottom: 20px;
  border-radius: 3px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, .07);

  h1 {
    width: 100%;
    flex-basis: 100%;
    display: block;
    margin-bottom: 20px;
    color: $primary;
    font-size: 15px;
    text-transform: none;
    letter-spacing: .2px;
    font-weight: bold;
    position: relative;
  }

  .card-line {
    margin-top: 20px;
  }

}

.table-list {
  position: relative;
  padding: 0;
  box-shadow: none;
  background: none;

  .labels {
    width: 100%;
    display: flex;
    padding-left: 50px;

    li {
      padding: 15px 0;
      text-transform: uppercase;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    .check-all-list {
      margin-top: 10px;
    }

    ul {
      padding-top: 10px;
      padding-bottom: 10px;
    }

    a, .item {
      position: relative;
      font-weight: bold;
      font-size: 12.5px;
      color: $grey;
      font-family: $subFont;
    }
  }

  .elements {
    border-top: 0;
    width: 100%;

    .no-element {
      text-align: center;
      display: block;
      font-size: 16px;
      padding: 10px 0;
      background: $white;
    }

    .line {
      display: flex;
      align-items: center;
      box-shadow: 0 1px 5px rgba(0, 0, 0, .04);
      border-radius: 7px;
      background: $white;
      margin-bottom: 10px;
      transition: .2s ease;

      &:hover {
        box-shadow: 0 5px 5px rgba(0, 0, 0, .1);
        margin-left: 10px;
        transition: .2s ease;
      }

      .selector {
        width: 50px;
      }

      &.invited {
        padding-left: 50px;
      }

      .select {
        background: none;
        border: none;
        align-items: center;

        .selected {
          padding: 0 30px 0 0;
        }
      }

      .activate {
        align-items: center;
      }

      div {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }

      > a {
        color: $lightblack;
        height: 54px;
        line-height: 48px;
        display: flex;
        width: 100%;
        align-items: center;
      }

      > section {
        color: $lightblack;
        line-height: 54px;
        display: flex;
        width: 100%;
        position: relative;

        div {
          white-space: nowrap;
          text-overflow: ellipsis;
        }

        > a {
          color: $lightblack;
          height: 54px;
          line-height: 48px;
          display: flex;
          width: 100%;
          align-items: center;
        }
      }

      .client-contact {
        justify-content: center;
        flex-wrap: initial;
        align-items: center;
        opacity: .1;
        pointer-events: none;
        transition: .2s ease;
        position: absolute;
        right: 20px;
        top: 13px;

        a {
          width: 30px;
          height: 30px;
          padding: 10%;
          background: $primary;
          border-radius: 50px;
          margin: 0 5px;
          align-items: center;
          justify-content: center;

          svg {
            path {
              fill: $white;
            }
          }
        }
      }

      &:hover .client-contact {
        opacity: 1;
        pointer-events: initial;
        transition: .2s ease;

        a {
          &:hover {
            background: darken($primary, 10);
          }
        }
      }
    }
  }

}


.bullet-numbers {
  align-items: center;
  border-radius: 50px;

  .wrapper {
    border: 1px solid $lightGrey;
    border-radius: 5px;
  }

  .previous {
    svg {
      transform: rotate(180deg) translateY(-3px);
    }
  }

  .button {
    text-align: center;
    color: $primary;
    padding: 0 10px;
    line-height: 36px;
    height: 36px;

    &.disabled {
      color: $grey;
    }

    svg {
      width: 15px;
      height: 15px;

      path {
        fill: $lightGrey;
        transition: .1s ease;
      }
    }

    &:hover {
      svg path {
        fill: $grey;
      }
    }
  }


  ul {
    height: 100%;

    li {
      border-right: 1px solid $lightGrey;
      border-left: 1px solid $lightGrey;

      &.active {
        background: $primary;
        border: 1px solid transparent;

        a {
          color: $white;
        }
      }

      a {
        padding: 0 15px;
        font-weight: 600;
        line-height: 36px
      }
    }
  }
}

.dashboard {
  .table-list {
    .elements {
      .line {
        box-shadow: none;
      }
    }
  }
}


.date-picker {
  position: relative;
  border-bottom: 1px solid $veryLightGrey;

  .input-design {
    height: 100%;
    z-index: 1;
    position: absolute;
  }

  .displayed-value {
    width: 100%;
    display: block;
    cursor: pointer;
    border-radius: 3px;
    word-break: keep-all;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    position: absolute;
    min-height: 20px;
    left: 0;
    bottom: 3px;
    z-index: 3;
    font-weight: 400;
    text-transform: none;
  }

  .input-date-picker {
    cursor: pointer;
    pointer-events: none;
    position: absolute;
    opacity: 0;
  }

  .picker {
    position: absolute;
    left: 0;
    top: calc(100% + 5px);
    width: 100%;
    min-width: 280px;
    max-width: 400px;
    z-index: 9;
    border: 1px solid $lightGrey;
    margin-bottom: 50px;
    font-size: 13px;
    background: $white;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14);

    header {
      position: relative;
      background: $white;
      padding: 10px;
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid lighten($lightGrey, 5%);

      .header-months-and-years {
        display: block;
        width: 100%;
        text-align: center;

        .close {
          position: absolute;
          right: 5px;
          top: 5px;

          svg {
            width: 10px;
            height: 10px;
          }
        }
      }

      .header-calendar {
        width: 100%;
        position: relative;
      }

      .current-month {
        margin: 0 auto;
        display: block;
        font-weight: bold;
        font-size: 16px;
        position: relative;

        &:after {
          content: "";
          left: 0;
          bottom: -2px;
          width: 100%;
          height: 2px;
          position: absolute;
          background: $lightGrey;
          opacity: 0;
          transition: .2s ease;
        }

        &:hover {
          background: $veryLightGrey;

          &:after {
            opacity: 1;
          }
        }
      }

      .previous-month {
        transform: scaleX(-1);
      }

      svg {
        height: 13px;
        width: 13px;

        path {
          fill: $grey;
        }
      }
    }

    .content {
      padding: 10px;
    }

    .days {
      margin: 10px auto 0;

      ul {
        display: flex;

        li {
          width: calc(100% / 7);
          text-align: center;
          font-size: 11px;
          font-weight: bold;
          color: lighten($grey, 20%);
        }
      }
    }

    .figures {
      padding-top: 10px;
      display: flex;
      flex-wrap: wrap;

      button {
        font-weight: bold;
      }

      .date-picker-day, .blank-picker-day {
        width: calc(100% / 7);
        flex-basis: calc(100% / 7);
        height: 36px;
        display: block;
        text-align: center;
        line-height: 35px;
        position: relative;
        outline: none;
        z-index: 9;
        border-radius: 20px;

        &:active {
          outline: none
        }
      }

      .date-picker-day {
        background: $white;

        span {
          position: relative;
          z-index: 2;
        }

        &:after {
          content: "";
          width: 30px;
          height: 30px;
          position: absolute;
          left: 50%;
          top: 50%;
          background: $primary;
          border-radius: 50px;
          z-index: 0;
          opacity: 0;
          transform: translate(-50%, -50%);
          transition: .1s ease;
        }

        &:hover {
          span {
            color: $white;
          }

          &:after {
            opacity: 1;
          }
        }

        &.active {
          background: $primary;
          color: $white;

          &:hover {
            background: $primary;
          }
        }
      }
    }

    .months-and-years {
      .select {
        margin: 0 auto 10px;
        display: block;
        text-align: center;
        border-bottom: 0;
        width: 100px !important;
        height: auto !important;

        .selected {
          font-size: 21px;
          padding: 5px 10px 5px 0;
        }
      }
    }

    .months {
      li {
        width: calc(100% / 4);
        flex-basis: calc(100% / 4);
        margin-bottom: 10px;

        &:nth-of-type(9), &:nth-of-type(10), &:nth-of-type(11), &:nth-of-type(12) {
          margin-bottom: 0;
        }

        button {
          text-align: center;
          padding: 10px 5px;
          text-transform: uppercase;
          border-radius: 20px;
          width: 100%;
          background: transparent;
          transition: .2s ease;
          font-weight: bold;

          &.active {
            background: $primary;
            color: $white;
          }

          &:hover {
            background: $lightGrey;
          }
        }
      }
    }
  }
}

.svg-wrapper {
  display: inline-block;
}

.input-box {
  header {
    padding: 0 0 5px 0;
  }

  .select {
    &:before {
      right: 10px;
    }
  }

  h2 {
    margin-bottom: 0 !important;
    color: $grey;
    font-size: 16px;
    line-height: 40px;
    letter-spacing: 0.5px;
    font-weight: 500;
  }

  header {
    .lang-select {
      color: $primary;
      margin-left: auto;
      height: 40px;
      font-weight: 400 !important;
      z-index: 9;
      background: none;
      border: 0;

      .selected {
        color: $primary;
      }

      &.active {
        background: $white;
        z-index: 10;
      }
    }
  }
}

.input-wrapper {
  position: relative;
  display: flex;
  border-bottom: 1px solid $veryLightGrey;
  padding: 10px 10px 10px 0;
  background: $white;

  input, textarea, .editor {
    padding: 0;
    padding-right: 5px;
    border: 0;
  }

  .unit {
    color: $lightGrey;
    line-height: 28px;

    sup {
      position: relative;
      top: -6px;
      left: 1px;
      font-size: 10px;
    }
  }
}

.pagination {
  background: $primary;
  color: $white;
  width: 100px;
  padding: 10px;
  float: right;

  .left {
    transform: rotate(180deg) translate(3px, 4px);
  }

  button {
    width: 20px;

    svg {
      height: 15px;
      width: 15px;

      path {
        fill: $white;
      }
    }
  }
}

.checkbox-circle {
  width: 12px;
  height: 12px;
  background: none;
  border: 1px solid $primary;
  display: block;
  border-radius: 50px;
  margin: 0 auto;
  transition: .15s ease;
  position: relative;
  cursor: pointer;
  white-space: nowrap;

  &:after {
    content: "";
    width: 14px;
    height: 14px;
    position: absolute;
    left: -3px;
    top: -3px;
    border-radius: 10px;
    border: 1px solid transparent;
    transform: scale(0);
    transition: .1s ease;
  }
}

input[type=checkbox]:checked + .checkbox-circle {
  background: $primary;
  border: 1px solid $primary;
  color: #fff;

  &:after {
    transform: scale(1);
    opacity: 1;
    border: 1px solid $primary;
  }
}


.editable-collection, .select-multiple {
  &.select-multiple {
    .selected {
      height: 100%;
    }

    .options {
      li {
        padding-left: 40px;

        &[data-selected="selected"] {
          &:after {
            content: "";
            left: 18px;
            top: 16px;
            width: 11px;
            height: 11px;
            position: absolute;
            background: url("/img/svg/check.svg");
            background-size: cover;
          }

          &:before {
            border: 1px solid $primary;
            background: $primary;
          }
        }

        &:before {
          content: "";
          position: absolute;
          left: 15px;
          top: 13px;
          width: 15px;
          height: 15px;
          background: none;
          border: 1px solid $lightGrey;
          border-radius: 0;
        }
      }
    }

    &.active {
      .selected {
        color: $grey;
      }
    }
  }

  flex-wrap: wrap;
  width: 100%;

  input {
    width: 100%;
  }

  .collection {
    width: 100%;
  }

  .el {
    background: $white;
    box-shadow: 0 1px 5px rgba(0, 0, 0, .07);
    border: 1px solid $veryLightGrey;
    transition: .2s ease;
    display: inline-flex;
    border-radius: 20px;
    padding: 5px 8px 5px 12px;
    margin-right: 5px;
    margin-bottom: 5px;

    &:last-child {
      margin-right: 0;
    }

    .txt {
      line-height: 20px;
      font-size: 14px;
    }

    .img {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background: $grey;
      margin-right: 5px;
      overflow: hidden;
    }

    .remove {
      margin-left: 5px;
      margin-right: 2px;

      &:hover svg {
        background: $red;

        path {
          fill: $white;
        }
      }

      svg {
        width: 8px;
        height: 8px;
        position: relative;
        margin-top: 3px;
        padding: 3px;
        transition: .25s ease;
        border-radius: 10px;
        background: $dark-blue;

        path {
          fill: $white;
          transition: .25s ease;
        }

        &:hover {
          background: $red;

        }
      }
    }
  }

  .input-collection {
    position: relative;

    .add-collection {
      position: absolute;
      opacity: 0.1;
      pointer-events: none;
      align-items: center;
      display: flex;
      padding: 2.3%;
      right: 0;
      top: 50%;
      width: 20px;
      height: 20px;
      border-radius: 20px;
      color: $white;
      transform: translateY(-50%);
      background: $primary;
      transition: .2s ease;

      path {
        fill: $white;
      }
    }

    &:hover .add-collection {
      opacity: 1;
      pointer-events: visible;
      transition: .2s ease;
    }
  }
}

.actions-bar {
  position: fixed;
  right: 0;
  bottom: 0;
  background: $white;
  z-index: 99;
  opacity: 1;
  display: flex;
  padding: 8px;
  border-radius: 5px 0 0 0;
  box-shadow: -2px -2px 4px 0px rgba(0, 0, 0, 0.05);
}

.cancel {
  opacity: 0.3;
  margin: 0 15px 0 5px;
  display: inline-block;
  transition: .2s ease;

  &:hover {
    opacity: 1;
  }
}

.fixed-button {
  color: $white;
  background: $primary;
  transition: .4s ease;
  padding: 8px 15px 8px 45px;
  display: flex;
  height: 42px;
  overflow: hidden;

  &:before {
    content: "";
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translate(0, -50%);
    width: 20px;
    height: 20px;
    background: url("/img/svg/check.svg");
    background-size: cover;
    transition: .4s ease;
  }

  svg {
    width: 25px;
    height: 25px;
  }

  &:hover {
    opacity: 1;
  }
}

.delete-entity {
  color: darken($lightGrey, 10%);
  margin-right: 20px;
  font-weight: 400;

  &:hover {
    color: $red;
  }
}

.print {
  margin-right: 20px;
}

.popup .confirm {
  width: 400px;
  min-width: 400px;

  header {
    h1 {
      color: $lightGrey;
    }
  }

  .inner-wrapper {
    p {
      font-size: 18px;
      max-width: 90%;
      text-align: center;
      margin: 20px auto 30px;
    }

    .buttons {
      margin: 0 auto;
      justify-content: center;

      .cancel {
        background: $red;
      }
    }
  }
}


.autocomplete {
  position: relative;
  display: inline-block;
  background: #fff;
  font-size: 100%;
  box-shadow: rgba(0, 0, 0, 0) 0 2px 4px 0;
  transition: .2s ease;
  border-radius: 3px;
  width: 100%;
  min-height: 28px;
  line-height: 28px;
  border: 1px solid $lightGrey;

  .displayed-input {
    min-height: 36px;
    width: 100%;
    display: block;
    padding: 8px 10px;
    cursor: text;
  }

  input {
    border: 1px solid $lightGrey;
    height: 40px;
  }

  &.active {
    border-radius: 3px 3px 0 0;

    .dropdown-autocomplete {
      opacity: 1;
      pointer-events: auto;
    }
  }

  .dropdown-autocomplete {
    background: $white;
    left: 0;
    opacity: 0;
    min-width: 100%;
    pointer-events: none;
    top: calc(100% + 1px);
    background: $white;
    position: absolute;
    z-index: 99;
    box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px 0;

    .img {
      border-radius: 50px;
      overflow: hidden;
      height: 30px;
      width: 30px;
      margin-right: 10px;
    }

    li {
      padding: 6px 10px;
      transition: .25s ease;
      white-space: nowrap;
      cursor: pointer;

      &:hover {
        background: lighten($lightGrey, 5%);
      }
    }
  }
}

.cta-dropdown {
  position: relative;

  .dropdown {
    position: absolute;
    z-index: 3;
    left: 50%;
    top: calc(10px + 100%);
    transform: translateX(-50%);
    background: $white;
    box-shadow: 0 1px 5px rgba(0, 0, 0, .07);

    a {
      padding: 10px;
      display: flex;
      white-space: nowrap;

      svg {
        width: 16px;
        height: 16px;
        margin-right: 10px;
      }

      &:hover {
        background: rgba(0, 0, 0, .1);
      }
    }
  }
}

.ui-slider {
  position: relative;
  text-align: left;
}

.ui-slider .ui-slider-handle {
  position: absolute;
  z-index: 2;
  width: 1.2em;
  height: 1.2em;
  cursor: default;
  -ms-touch-action: none;
  touch-action: none;
}

.ui-slider .ui-slider-range {
  position: absolute;
  z-index: 1;
  font-size: .7em;
  display: block;
  border: 0;
  background-position: 0 0;
}

/* support: IE8 - See #6727 */
.ui-slider.ui-state-disabled .ui-slider-handle,
.ui-slider.ui-state-disabled .ui-slider-range {
  filter: inherit;
}

.ui-slider-horizontal {
  height: .8em;
}

.ui-slider-horizontal .ui-slider-handle {
  top: -.3em;
  margin-left: -.6em;
}

.ui-slider-horizontal .ui-slider-range {
  top: 0;
  height: 100%;
}

.ui-slider-horizontal .ui-slider-range-min {
  left: 0;
}

.ui-slider-horizontal .ui-slider-range-max {
  right: 0;
}

.ui-slider-vertical {
  width: .8em;
  height: 100px;
}

.ui-slider-vertical .ui-slider-handle {
  left: -.3em;
  margin-left: 0;
  margin-bottom: -.6em;
}

.ui-slider-vertical .ui-slider-range {
  left: 0;
  width: 100%;
}

.ui-slider-vertical .ui-slider-range-min {
  bottom: 0;
}

.ui-slider-vertical .ui-slider-range-max {
  top: 0;
}

.input-design {
  position: relative;
  padding-top: 15px;
  width: 100%;

  ::placeholder {
    color: transparent;
  }

  .label {
    position: absolute;
    left: 0;
    top: 15px;
    transform: translateY(0);
    color: rgba($grey, .8);
    transition: .1s ease;
    pointer-events: none;
    text-transform: uppercase;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &.not-null {
    .label {
      transform: translateY(-15px);
      color: $grey;
      font-weight: bold;
    }
  }
}

.checkbox {
  position: relative;
  transition: .15s ease;
  cursor: pointer;
  display: block;
  margin-top: 2px;
  padding-left: 30px;
  &:before{
    content:"";
    width: 18px;
    height: 18px;
    background: $white;
    border: 1px solid $lightGrey;
    border-radius: 3px;
    position: absolute;
    left: 0;
    top:0;
    transition: .2s ease;
  }

  &:after {
    content: "";
    width: 13px;
    height: 13px;
    position: absolute;
    left: 4px;
    top: 4px;
    background: url(/img/svg/check.svg);
    background-size: cover;
    transform: scale(0);
    transition: .2s ease;
    opacity: 0;
  }
}

input[type=checkbox]:checked + .checkbox {
  &:before{
    background: $primary;
    border:1px solid $primary
  }
  &:after {
    transform: scale(1);
    opacity: 1;
  }
}

.input-range{
  position: relative;
  padding-top: 10px;
  font-size: 13px;
  .label-range{
    transform: translateX(-50%);
    text-overflow: ellipsis;
    white-space: nowrap;
    &.active{
      font-weight: bold;
    }
    &:first-child{
      transform: translateX(0);
    }
    &:last-of-type{
      transform: translateX(-100%);
    }
  }
}

input[type="range"]{
  -webkit-appearance: none;
  width: 100%;
  background: transparent;
  position: relative;
  padding: 20px 0 10px;
  cursor: pointer;
  border: 0 !important;
}

input[type=range] {
  height: 31px;
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
}
input[type=range]:focus {
  outline: none;

}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  background: $lightGrey;
  border-radius: 1px;
}
input[type=range]::-webkit-slider-thumb {
  height: 20px;
  width: 20px;
  border-radius: 15px;
  background: $primary;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -5px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: $lightGrey;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  background: $lightGrey;
  border-radius: 1px;
}
input[type=range]::-moz-range-thumb {
  height: 25px;
  width: 26px;
  border-radius: 15px;
  background: $primary;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: $veryLightGrey;
  border-radius: 2px;
}
input[type=range]::-ms-fill-upper {
  background: $veryLightGrey;
  border-radius: 2px;
}
input[type=range]::-ms-thumb {
  margin-top: 1px;
  height: 25px;
  width: 26px;
  border-radius: 15px;
  background: $primary;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: $veryLightGrey;
}
input[type=range]:focus::-ms-fill-upper {
  background: #D6D6D6;
}

[v-cloak] { display: none !important; }